:root
{
    
--Soft_blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
--Very_dark_blue_main:hsl(217, 54%, 11%);
--Very_dark_blue_card:hsl(216, 50%, 16%);
--Very_dark_blue_line:hsl(215, 32%, 27%);
--White:hsl(0, 0%, 100%);

/* - Font size (paragraph): 18px    */
--card_width:clamp()
--card_height:;

}

body
{
    background-color: var(--Very_dark_blue_main);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.card
{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    box-sizing: border-box;
    background-color: var(--Very_dark_blue_card);
    border-radius: 10px;

}

.card__image
{
    max-inline-size: 100%;
    border-radius: 10px;
    block-size: auto;
    margin-bottom: 1.5rem;
}

.card__content
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid var(--Very_dark_blue_line);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;

}
.card__header
{
    color: var(--White);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;

}

.card__description
{
    color: var(--Soft_blue);
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;

}
.card__quotation
{
    display: flex;
    justify-content: space-between;
}

.card__price
{
    display: flex;
    color: var(--Cyan);
    justify-content: space-between;
    font-weight: 600;
}


.card__time
{
    display: flex;
    color: var(--Soft_blue);
    flex-basis: 50%;
    justify-content: flex-end;
}
.card__footer
{
    display: flex;
    justify-content: space-between;
    color: var(--Soft_blue);

}

.card__authorImage
{
    height: 2rem;
    width: 2rem;
}

.card__author
{
    color: var(--White);
}